
//
//  =========================================================
//  Page Home
//  =========================================================
//

.container_page.home {

	.bg_page {
		background: #fff;

		.trame {
			width: 100%;
			height: 100%;
			background-image: url(../img/trame.png);
			background-repeat: repeat;
			position: absolute;
			z-index: 10;
		}

		.gradient {
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));
			position: absolute;
			z-index: 12;
		}

		.background {
			width: 100%;
			height: 100%;
			@include background_cover();
	        background-image: url(../img/galena.jpg);
			position: absolute;
			z-index: 8;
		}
	}

	.content {
		color: #000;

		.row {
			display: block;
			position: absolute;
			transform: translateY(-100%);
			margin: 0 auto;
			left: 30%;
			top: 50%;

			.columns {
				text-align: left;
				line-height: 2em;

				.title {
					@include fluid-font-size(46px, (min: 32px, max: 52px));
					text-transform: uppercase;
					font-family: 'Roboto';
					font-weight: bold;
				}

				.caption {
					@include fluid-font-size(16px, (min: 10px, max: 22px));
					text-transform: uppercase;
					font-family: 'Roboto';
					padding: 0 3px;
				}

				.whatido {
					@include fluid-font-size(12px, (min: 8px, max: 16px));
					text-transform: uppercase;
					font-family: 'Roboto';
					padding: 0 5px;

					.cre, .des, .dev, .exp { display: inline-block; }
					.exp {
					    //animation: color-change 2s infinite;
					}

					@keyframes color-change {
					    0% { color: black; }
					    50% { color: green; }
					    100% { color: black; }
					}
				}
			}
		}

		.scroll_down {
			width: 40px;
			height: 40px;
			@include background_cover();
			background-image: url(../img/scroll_down.png);
			transform: translateX(-50%);
			position: absolute;
			z-index: 140;
			bottom: 15%;
			left: 50%;
		}
	}
}
