
//
//  =========================================================
//  Page Home
//  =========================================================
//

.container_page.home {

	.bg_page {
		background: white;

		.trame {
			width: 100%;
			height: 100%;
			background-image: url(../img/trame.png);
			background-repeat: repeat;
			position: absolute;
			z-index: 10;
		}

		.gradient {
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));
			position: absolute;
			z-index: 12;
		}
	}

	.content {
		color: black;

		.row {
			display: block;
			position: absolute;
			transform: translate(-100%, -100%);
			margin: 0 auto;
			left: 50%;
			top: 50%;

			.columns {
				text-align: left;
				line-height: 2em;

				.title {
					@include fluid-font-size(46px, (min: 32px, max: 52px));
					text-transform: uppercase;
					font-family: 'Roboto';
					font-weight: bold;
				}

				.caption {
					@include fluid-font-size(18px, (min: 12px, max: 26px));
					text-transform: uppercase;
					font-family: 'Roboto';
					padding: 0 3px;
				}

				.whatido {
					@include fluid-font-size(12px, (min: 8px, max: 16px));
					text-transform: uppercase;
					font-family: 'Roboto';
					padding: 0 5px;

					.cre, .des, .dev, .exp { display: inline-block; }
					.exp {
					    animation: color-change 2s infinite;
					}

					@keyframes color-change {
					    0% { color: black; }
					    50% { color: green; }
					    100% { color: black; }
					}
				}
			}
		}
	}
}
