
//
//  =========================================================
//  Functions
//  =========================================================
//

@function get-vw($target) {
  $vw-context: ($max-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vh($target) {
  $vh-context: ($max-breakpoint * .01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

@function pow($base, $exp) {
	$r: 1;
	$s: 0;
	@if $exp < 0 {
		$exp: $exp * -1;
		$s: 1;
	}
	@while $exp > 0 {
		@if $exp % 2 == 1 {
			$r: $r * $base;
		}
		$exp: floor($exp * 0.5);
		$base: $base * $base;
	}
	@return if($s != 0, 1 / $r, $r);
}

@function magic-size($size) {
	$base: $size / ($size * 0 + 1);
	@return calc(#{$size - pow($base/($fluid-font-size-ratio*9), 2)} + #{pow($base/($fluid-font-size-ratio*27), 2)}vw);
}

@function magic-size-viewport($size, $search) {
	$base: $size / ($size * 0 + 1);
	$vw: ($search - ($size - pow($base/($fluid-font-size-ratio*9), 2))) / pow($base/($fluid-font-size-ratio*27), 2);
	@return $vw * 100;
}
