
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bulma
// @import "~bulma";
// @import "~bulma-calendar";

// Buefy
// @import '~buefy/lib/buefy';

// Abstracts
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// Base
// @import "abstracts/colors";
// @import "abstracts/typography";

// Components
@import "components/carousel";
@import "components/grid";

// layout
@import "layout/layout";
@import "layout/navigation";

// Pages
@import "pages/auth";
@import "pages/home";
@import "pages/about";

.calendar {
    .calendar-date {
        text-transform: capitalize;
    }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all .4s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: scale(.9);
    opacity: 0;
}
